# Copy this file to the path /etc/systemd/system inorder to run grafana container as a systemd service
#[host]
[Unit]
Description=grafana container
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket
 
[Service]
Restart=always
ExecStart=/usr/bin/docker start -a grafana
ExecStop=/usr/bin/docker stop -t 10 grafana
User=root
Group=root
 
[Install]
WantedBy=multi-user.target
