apiVersion: v1
kind: PersistentVolume
metadata:
   name: rabbitmq-pv0
   labels:
     name: rabbitmq
     type: local
spec:
  storageClassName: local-storage
  persistentVolumeReclaimPolicy: Recycle
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 500Mi
  hostPath:
   path: "{{ nfs_client_share_dir }}"

---

apiVersion: v1
kind: PersistentVolume
metadata:
   name: rabbitmq-pv1
   labels:
     name: rabbitmq
     type: local
spec:
  storageClassName: local-storage
  persistentVolumeReclaimPolicy: Recycle
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 500Mi
  hostPath:
   path: "{{ nfs_client_share_dir }}"

---

apiVersion: v1
kind: PersistentVolume
metadata:
   name: rabbitmq-pv2
   labels:
     name: rabbitmq
     type: local
spec:
  storageClassName: local-storage
  persistentVolumeReclaimPolicy: Recycle
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 500Mi
  hostPath:
   path: "{{ nfs_client_share_dir }}"
