apiVersion: v1
kind: PersistentVolume
metadata:
   name: canary-kube-pv0
spec:
  storageClassName: canary-manual
  persistentVolumeReclaimPolicy: Recycle
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 1Gi
  nfs:
   server: {{ groups['nfs-server'][0] }}
   path: /kubedata3

---

apiVersion: v1
kind: PersistentVolume
metadata:
   name: canary-kube-pv1
spec:
  storageClassName: canary-manual
  persistentVolumeReclaimPolicy: Recycle
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 1Gi
  nfs:
   server: {{ groups['nfs-server'][0] }}
   path: /kubedata3

---

apiVersion: v1
kind: PersistentVolume
metadata:
   name: canary-kube-pv2
spec:
  storageClassName: canary-manual
  persistentVolumeReclaimPolicy: Recycle
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 1Gi
  nfs:
   server: {{ groups['nfs-server'][0] }}
   path: /kubedata3
