kind: PersistentVolume
apiVersion: v1
metadata:
  name: kong-postgres-volume
  labels:
    type: local
    app: postgres
spec:
  storageClassName: local-storage
  persistentVolumeReclaimPolicy: Recycle
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: {{ nfs_client_share_dir2 }}
