kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: datadir-postgres-0
  namespace: kong
  labels:
    app: postgres
spec:
  storageClassName: local-storage
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
